version: '3.9'

services:
    db:
        image: postgres:15-alpine
        restart: always
        environment:
            POSTGRES_USER: ${SPRING_DATASOURCE_USERNAME}
            POSTGRES_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
            POSTGRES_DB: ${SPRING_DATASOURCE_DB}
        ports:
            - "${POSTGRES_PORT}:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER" ]
            interval: 10s
            timeout: 5s
            retries: 5
        networks:
            - attendify-network

volumes:
    postgres_data:

networks:
    attendify-network:
        driver: bridge
