spring:
    config:
        import: optional:file:.env[.properties]
    datasource:
        url: jdbc:postgresql://${SPRING_DATASOURCE_HOST}:${SPRING_DATASOURCE_PORT}/${SPRING_DATASOURCE_DB}
        username: ${SPRING_DATASOURCE_USERNAME}
        password: ${SPRING_DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: create-drop
        show-sql: true
        properties:
            hibernate:
                format_sql: true
                dialect: org.hibernate.dialect.PostgreSQLDialect

    data:
        web:
            pageable:
                default-page-size: 10
                max-page-size: 50

application:
    security:
        jwt:
            secret-key: iDf5B8bkGtAIhB0IHnSzomfqHpM7wtfuAkdomX9aY5AN8yNuXZNZzz8c2B6pgGUK52mfgbnvqL1dFtId9IwnRQ==
            access-expiration-ms: 900000 #15 minutes
            refresh-expiration-ms: 604800000 #7 days
